<%= form_with(model: touring_route, local: true) do |form| %>
  <% if touring_route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(touring_route.errors.count, "error") %> prohibited this touring_route from being saved:</h2>

      <ul>
      <% touring_route.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :touring_name %>
  <%= form.hidden_field :end_date %> 
  
  <ul class="touring_new_form_detail">
    <li>
      <div class="field">
        <%= form.label :picture %>
        <%= form.file_field :picture %>
      </div>     
    </li> 
    <li>
      <div class="field touring_new_form_desc">
        <%= image_tag 'icon_desc.svg', width:32 %>
        <%= form.text_field :touring_desc, placeholder:"目的地" %>
      </div>
    </li>
    <li>
      <div class="field">
        <%= image_tag 'icon_calender.svg', width:32 %>
        <%= form.date_field :start_date, use_month_numbers: true %>
      </div>
    </li>      
  </ul>

  <ul class="touring_new_form_latlng">
    <li>
      <div class="field">
        <div class="touring_new_form_button">
          <%= radio_button_tag(:RadioGroup, "start",{:checked => true}) %>
          <%= label_tag(:RadioGroup_start, "出発地点") %>
        </div>
        <div class="none">
          <%= form.label :start_lat %>
          <%= form.text_field :start_lat %>
          <%= form.label :start_lon %>
          <%= form.text_field :start_lon %>
        </div>
      </div>
    </li>
    <li>
      <div class="field">
        <div class="touring_new_form_button">
          <%= radio_button_tag(:RadioGroup, "end") %>
          <%= label_tag(:RadioGroup_end, "目的地") %>
        </div>
        <div class="none">
          <%= form.label :end_lat %>
          <%= form.text_field :end_lat %>
          <%= form.label :end_lon %>
          <%= form.text_field :end_lon %>
        </div>
      </div>
    </li>
    <li>
      <div class="field">
        <div class="touring_new_form_button">
          <%= radio_button_tag(:RadioGroup, "wp1") %>
          <%= label_tag(:RadioGroup_wp1, "経由地1") %>
        </div>
        <div class="none">
          <%= form.label :wp1_lat %>
          <%= form.text_field :wp1_lat %>
          <%= form.label :wp1_lon %>
          <%= form.text_field :wp1_lon %>
        </div>
      </li>
    <li>
      <div class="field">
        <div class="touring_new_form_button">
          <%= radio_button_tag(:RadioGroup, "wp2") %>
          <%= label_tag(:RadioGroup_wp2, "経由地2") %>
        </div>
        <div class="none">
          <%= form.label :wp2_lat %>
          <%= form.text_field :wp2_lat %>
          <%= form.label :wp2_lon %>
          <%= form.text_field :wp2_lon %>
        </div>
      </div>
    </li>
    <li>
      <div class="field">
        <div class="touring_new_form_button">
          <%= radio_button_tag(:RadioGroup, "wp3") %>
          <%= label_tag(:RadioGroup_wp3, "経由地3") %>
        </div>
        <div class="none">
          <%= form.label :wp3_lat %>
          <%= form.text_field :wp3_lat %>
          <%= form.label :wp3_lon %>
          <%= form.text_field :wp3_lon %>
        </div>
      </div>
    </li>
  </ul>
  <ul class="touring_new_form_submit">
    <li>
       <div class="actions">
        <%= form.submit "登　録"%>
      </div>   
    </li>
  </ul>
<% end %>