<div class="page_title_container page_title_fixed">
  <%# <i class="fas fa-arrow-left"></i> %>
   <h2>ルート一覧</h2>
</div>
<p id="notice"><%= notice %></p>
<div class="index_body">
  <% @touring_routes.each do |touring_route| %>
    <div class="index_list">
        <div class="index_user">
          <div class="index_user_icon">
          <%= touring_route.user.avatar.present? %>
              <%= image_tag(touring_route.user.avatar_url, width: 40 ) if touring_route.user.avatar.present? %>
          </div>
          <div class="index_user_name">
            <span><%= touring_route.user.name %></span>
          </div>
          <div class="index_list_destroy">
            <% if touring_route.user == current_user %>
              <%= link_to  touring_route, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
           <% end %>   
          </div>
        </div>
        <%= link_to touring_route_path(touring_route), class: 'index_list_link' do %>
        <div class="index_detail">
            <div class="insex_detail_sumb">
            <%= touring_route.picture.present? %>
            <% if touring_route.picture.present? %>
              <%= image_tag(touring_route.picture_url,width: 100 ) %>
            <% else %>
              <%= image_tag 'img_none.png' ,width: 100  %>
            <% end %>
            </div>
            <div class="index_detail_desc_cal">
              <div class="index_detail_desc">
                <%= image_tag 'icon_desc.svg', width:24 %>
                <span><%= touring_route.touring_desc %></span>
              </div>
              <div class="index_detail_cal">
                <%= image_tag 'icon_calender.svg', width:24 %>
                <span><%= touring_route.start_date.strftime('%Y/%m/%d') %></span>
              </div>
            </div>
        </div>
        <% end %>
    </div>
  <% end %>
</div>