<p id="notice"><%= notice %></p>

<% @touring_routes.each do |touring_route| %>
    <table class="index_body">
      <tbody >
          <tr>
            <td class="index_user_icon">
             <%= image_tag(touring_route.user.avatar_url, width: 40) if touring_route.user.avatar.present? %>
            </td>
            <td><%= touring_route.user.name %></td>
           </tr>
          <tr>
            <td rowspan="2">
              <%= image_tag 'img_aso.png' ,width: 100  %>
            </td>
            <td><%= touring_route.touring_desc %></td>            
          </tr>
           <tr>
            <td><%= touring_route.start_date.strftime('%Y/%m/%d') %></td>
          </tr>

      </tbody>
    </table>
  <% end %>
