
<div class="root">
  <div class="under_view_area">
    <ul class="concept">
      <li>
        <h2>concept</h2>
        <p>いい天気だ。<br>
            ふらりとバイクに乗って遠くへ行こう。<br>
            きっといいことに出会える気がする。<br>
            しばらく、バイクに乗っていない、なぜだろう。気がつくと行きたいところがない、同じコースをいつも走って帰るだけ。
            パーキングにいる他のライダーには、気軽に声をかけづらい。<br><br>
            でもバイクが好きだ。<br><br>
            この前、出会ったライダーは今日はどこを走っているだろう。<br>
            また会えるかもと、偶然を期待して走る。
        </p>
        <%= image_tag 'img_concept_01.jpg' %>
      </li>
      <li>
        <h2>About Riders Meeting</h2>
        <p>
          Riders Meetingはバイクを愛するライダーが、ツーリング情報を共有して、交流を深めるウェブサイトです。<br><br>
          今からツーリングに出かける？<br>
          そのまえに、そのルートを登録してみませんか。あなたのルートを見て、一緒に走りたいというライダーとの出会いが生まれるかもしれません。
        </p> 
        <%= image_tag 'img_concept_02.jpg' %>
      </li>
    </ul>

    <h2>How to use</h2>
    <ul class="usage">
      <li>
        <h3>ルート登録</h3>
        <%= image_tag 'img_screen_entry.png' %>
        <p>まず、これから走るルートと目的地を登録しましょう。ルートはマップ上でポイントをタッチするだけです。</p>
      </li>
      <li>
        <h3>ルート表示</h3>
        <%= image_tag 'img_screen_detail.png' %>
        <p>登録が完了すると、目的地までのルートコースを自動で表示します。</p>    
      </li>
      <li>
        <h3>ルート一覧</h3>
        <%= image_tag 'img_screen_list.png' %>
        <p>他のライダーが登録しているルートを検索してみましょう。いっしょに走りたいライダーがきっと見つかるでしょう。</p>
      </li>
      <li>
        <h3>コメント</h3>
        <%= image_tag 'img_screen_comment.png' %>

        <p>　他のライダーのルートにコメントを残すことができます。一緒に走ろうなどのコミュニケーションをとりましょう。</p>
      </li>
    </ul>
  </div>
</div>
