
<div class="root">
  <div class="under_view_area">
    <ul class="concept">
      <li>
        <h2>Concept</h2>
        <p>いい天気だ。<br>
            ふらりとバイクに乗って遠くへ行こう。<br>
            きっといいことに出会える気がする。<br>
            しばらく、バイクに乗っていない、なぜだろう。気がつくと行きたいところがない、同じコースをいつも走って帰るだけ。
            パーキングにいる他のライダーには、気軽に声をかけづらい。<br><br>
            でもバイクが好きだ。<br><br>
            この前、出会ったライダーは今日はどこを走っているだろう。<br>
            また会えるかもと、偶然を期待して走る。
        </p>
        <%= image_tag 'img_concept_01.jpg' %>
      </li>
      <li>
        <h2>About Riders Meeting</h2>
        <p>
          Riders Meetingはバイクを愛するライダーが、ツーリング情報を共有して、交流を深めるウェブサービスです。<br><br>
          今からツーリングに出かける？<br>
          そのまえに、そのルートを登録してみませんか。あなたのルートを見て、一緒に走りたいというライダーとの出会いが生まれるかもしれません。
        </p> 
        <%= image_tag 'img_concept_02.jpg' %>
      </li>
    </ul>

    <h2>How to use</h2>
    <ul class="usage">
      <li>
      <div class="usage_title">
          <i class="fas fa-map-marked-alt"></i>
          <h3>ルート登録</h3>     
      </div>    
        <%= image_tag 'img_screen_entry.png' %>
        <p>まず、これから走るルートと目的地を登録しましょう。ルート登録はマップ上でポイントをタップするだけです。<br>
        出発地>目的地>経由地3点までをタップしましょう。
        走ったあとは記念の写真もアップロードしましょう</p>
      </li>
      <li>
        <div class="usage_title">
          <i class="fas fa-list-ul"></i>
          <h3>ルート一覧</h3>
        </div> 
          <%= image_tag 'img_screen_list.png' %>
          <p>他のライダーが登録しているルートを検索してみましょう。いっしょに走りたいライダーがきっと見つかるでしょう。</p>
      </li>
            <li> 
        <div class="usage_title">
          <i class="fas fa-map"></i>
          <h3>ルート表示</h3>
        </div> 
          <%= image_tag 'img_screen_detail.png' %>
          <p>目的地までのルートコースを自動で表示します。また。マップ上には走行中のライダーの位置が表示され、今、どこを走っているかを見ることができます。<br>
          左上のコメントアイコンをタップしてコメントを残しましょう。</p>    
      </li>
      <li>
        <div class="usage_title">
          <i class="fas fa-comment-dots"></i>
          <h3>コメント</h3>
        </div> 
          <%= image_tag 'img_screen_comment.png' %>
          <p>　SNSのようにコメントを入れて「一緒に走ろう」などのコミュニケーションを楽しみましょう。</p>
      </li>
    </ul>
  </div>
</div>
