              <nav>
            <ul>
              <li>
                <%= link_to new_touring_route_path do %>
                  <i class="fas fa-map-marked-alt"></i>
                <% end %>
              </li>
              <li>
                <%= link_to touring_routes_path do %>
                  <i class="fas fa-list-ul"></i>
                <% end %>
              </li>
              <li>
                <%= link_to touring_routes_archives_path do %>
                  <i class="fas fa-archive"></i>
                <% end %>
              </li>            
              <li>
                <%= link_to edit_user_registration_path do %> 
                  <i class="fas fa-user"></i>
                <% end %>
              </li>            
              <li>
                <%= link_to destroy_user_session_path,method: :delete do %>
                  <i class="fas fa-sign-out-alt"></i>
                <% end %>
              </li>  
            </ul>
          </nav>          