              <nav>
            <ul>
              <li>
                <%= link_to new_touring_route_path do %>
                  <i class="fas fa-map-marked-alt fa-2x"></i>
                <% end %>
              </li>
              <li>
                <%= link_to touring_routes_path do %>
                  <i class="fas fa-list-ul fa-2x"></i>
                <% end %>
              </li>
              <li>
                <%= link_to touring_routes_path do %>
                  <i class="fas fa-archive fa-2x"></i>
                <% end %>
              </li>            
              <li>
                <%= link_to edit_user_registration_path do %> 
                  <i class="fas fa-user fa-2x"></i>
                <% end %>
              </li>            
              <li>
                <%= link_to destroy_user_session_path,method: :delete do %>
                  <i class="fas fa-sign-out-alt fa-2x"></i>
                <% end %>
              </li>  
            </ul>
          </nav>          