<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>RidersMeetingApp</title>
    <meta name="description" content="Riders Meetingはバイクを愛するライダーが、ツーリング情報を共有して、交流を深めるウェブサービスです。">
    <meta property="og:title" content="Riders_Meeting">
    <meta property="og:description" content="Riders Meetingはバイクを愛するライダーが、ツーリング情報を共有して、交流を深めるウェブサービスです。"> 
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://ambitious-tosu-4572.lo">
    <meta property="og:site_name" content="Riders_Meeting">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY']%>"></script>
  </head>

  <body>
   <header>
      <p class="header_title">RidersMeeting</p>
      <% if user_signed_in? %> 
          <%= render 'layouts/nav' %>
      <% end %>
    </header>

    <main class="main_view"> 
      <div class="message">
        <p class="alert"><%= alert %></p>
      </div>
        <%= yield %>
    </main>
    <footer>
      <% if user_signed_in? %> 
        <%= render 'layouts/nav' %>
      <% end %>
    </footer>
  </body>
</html>
