 <!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>RidersMeetingApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>

  <body class="user_body">
    <% if user_signed_in? %> 
      <header>
      <p class="header_title">RidersMeeting</p>
        <%= render 'layouts/nav' %>  
      </header>
    <% end %>
    <main class="user_view"> 
          <%= yield %>
      <div class="message">
        <!-- <p class="notice"><%= notice %></p> -->
        <p class="alert"><%= alert %></p>
      </div>
    </main>

    <% if user_signed_in? %> 
    <footer>   
      <%= render 'layouts/nav' %>  
    </footer>
    <% end %>

  </body>
</html>

